
@{
    ViewBag.Title = "threeCol";
}

<!--
Body Section
-->
<!--
Three column view
-->
<h3>HUAWEI SmartPhones </h3>
<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">

            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/huawei/honor 4x.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/huawei/honor-5x.png" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/huawei/huawei p7.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>

<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/huawei/p8.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/huawei/huawei mate s.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/huawei/huawei honor 5c.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>
<h3><a class="btn btn-mini pull-right" href="huawei.html" title="View more">VIew More<span class="icon-plus"></span></a> </h3>
<br>
<br>

<h3>SAMSUNG SmartPhones </h3>
<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/Samsung/galaxy A5.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/Samsung/galaxy s5.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/Samsung/j5_prime.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>


<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/Samsung/samsung-galaxy-note-5-s6-edge-plus.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/Samsung/samsung_galaxy_core_max.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/Samsung/grand prime.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>

<h3><a class="btn btn-mini pull-right" href="samsung.html" title="View more">VIew More<span class="icon-plus"></span></a> </h3>
<br>
<br>
<h3>QMOBILE SmartPhones </h3>

<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/QMobile/i8.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/QMobile/z7.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/QMobile/z10.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>


<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/QMobile/z14.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/QMobile/s6 plus.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/QMobile/noir z6.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>
<h3><a class="btn btn-mini pull-right" href="qmobile.html" title="View more">VIew More<span class="icon-plus"></span></a> </h3>
<br>
<br>

<h3>LG SMARTPHONES</h3>
<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/LG/g3.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/LG/LG_G4s.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/LG/lg g5.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>


<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/LG/LG Optimus F7.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/LG/lg v20.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/LG/LG_G_Pro_2.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>
<h3><a class="btn btn-mini pull-right" href="lg.html" title="View more">VIew More<span class="icon-plus"></span></a> </h3>
<br>
<br>


<h3>IPHONES</h3>
<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/iphone/5c.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/iphone/5s.png" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/iphone/7.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>


<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/iphone/iphone 4 16 gb.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/iphone/iphone 4 64 gb.png" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/iphone/iphone4s.png" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>
<h3><a class="btn btn-mini pull-right" href="iphone.html" title="View more">VIew More<span class="icon-plus"></span></a> </h3>
<br>
<br>


<h3>OPPO SMARTPHONES</h3>
<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/oppo/a37.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/oppo/mirror3.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/oppo/mirror5.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>


<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/oppo/n1.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/oppo/r3.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="product_details.html"><img src="~/img/oppo/OPPO-Neo-5.jpg" alt=""></a>
            <div class="caption cntr">
                <p>Manicure & Pedicure</p>
                <p><strong> $22.00</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
</ul>
<h3><a class="btn btn-mini pull-right" href="oppo.html" title="View more">VIew More<span class="icon-plus"></span></a> </h3>
<br>
<br>

